
  <div class="card">
        <div align= "center">

          <h1><u>Contact information</u></h1>
          <br>
          <br>
          <ul align = "center">
            <li style="list-style-type: none;">
              <p>Floor No 5, BlueChip Tower,Pune(Maharastra) 411047</p>
            </li>
            <li style="list-style-type: none;">
              <p>+91 9777777777</p>
            </li>
            <li style="list-style-type: none;">
              <p><i class="fas fa-envelope pr-2"></i>contact@foodbox.com</p>
            </li>
          </ul>
          <hr class="hr-light my-4">
        </div>

  </div>


